# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/App.framework
/ios/Flutter/engine.version
/ios/Flutter/flutter_assets/
/ios/pods/

# Android
/android/key.properties
/android/.gradle/
/android/app/src/main/assets/flutter_assets/
/android/app/build/
/android/build/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/app/google-services.json

# Personal API Keys - IMPORTANT
lib/config/api_config.dart
